page-sign-in {
    
}

.alert-md .alert-wrapper{
    background-color:#488aff;
    
}
.alert-md .alert-head{
    text-align: center;
    color:red;
}
.alert-md .alert-sub-title {
    font-size: 20px;
    color:navy;
}
.alert-md .alert-message{
    color:#FFF;
    font-size:16px;
    
}


