<ion-content padding>
  <ion-navbar>
    <ion-title>Prescriptions</ion-title>
  </ion-navbar>
  <ion-fab right bottom>
    <button ion-fab (click)="openAddPrescriptionsModal()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-searchbar (ionInput)="getItems($event)" margin-top *ngIf="prescriptions.length > 0"></ion-searchbar>
  <div *ngIf="prescriptions.length > 0">
    <ion-card *ngFor="let prescription of prescriptions">
      <ion-card-content>
        <ion-item>{{prescription.medicationName}}</ion-item>
        <ion-card-content style="border:thin solid black; border-radius:5px;" margin-top>
          <ion-item>{{prescription.dosage}}</ion-item>
        </ion-card-content>
        <ion-card-content style="border:thin solid black; border-radius:5px;" margin-top>
          <ion-item>{{prescription.notes}}</ion-item>
        </ion-card-content>
      </ion-card-content>
      <ion-buttons end (click)="deletePrescription(prescription)">
        <button icon-only ion-button clear color="danger" >
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-card>
  </div>
  <div *ngIf="prescriptions.length <= 0">
    <ion-card>
      <ion-card-content>
          <p>You do not have any prescription, you can use the plus button to add one</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
