<ion-content padding>
  <ion-navbar no-margin>
    <ion-title align="center">Patients</ion-title>
  </ion-navbar>
  <ion-searchbar (ionInput)="getSearchedPatients($event)" animated="true"></ion-searchbar>
  <ion-list>
    <div *ngIf="userHasPatients">
      <button ion-item *ngFor="let patient of searchedPatients" (click)="openSelectedPatientPage(patient)">
        <ion-avatar item-start>
          <img src="assets/imgs/profile-pic_dummy.png">
        </ion-avatar>
        {{patient.username}}
        <ion-icon name="arrow-dropright" item-end></ion-icon>
      </button>
    </div>
    <div *ngIf="!userHasPatients">
      You have no patients
    </div>
  </ion-list>
</ion-content>
