page-dashboard {
    ion-title {
        text-align: center;
    }

    ion-content{
        overflow-y:hidden !important;
    }

    .ios, .md {

        page-home {
    
            .scroll-content {
                background-color: map-get($colors, light);
            }
    
            ion-card-header {
                font-weight: bold;
            }
            ion-card-content {
                background-color: #ccc;
            }
    
        }
    
    }

    

}

ion-buttons {
    margin-top:-5px;
}